#topRow, #middle{
    
    background: #809C78 !important;
    
}
#topRow {
    box-shadow: 0 0 20px #444F43  !important;
}
#tipTopRow {
    background: #444F43 !important;
    height: 10px;
}

#bottomRow {
    box-shadow: 0 0 5px #444F43  !important;
    background: #EEF3E3 !important;
    width: 100% !important;
}

#mainLogo {
    padding: 5px;
    
}
#loginButtons {
    padding: 20px;
    
}

#regModal, #loginModal {
    background: #809C78 !important;
}
.fullWidth {
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
   max-width: 100% !important;
} 

.reveal-modal .close-reveal-modal {
    color: #444F43  !important;
}

