.top-bar-section ul li > a:hover {
  color: #3dca45 !important;

  }
body {
  background: #e9eedd  !important;
}


.icon-bar >a:hover {
background: green !important;
}

.top-bar-section li a:not(.button):hover {
    background: green !important;   
}

.top-bar-section ul li.active > a {
    background: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

.column.small-centered {
margin-left: auto;
margin-right: auto;
float: none !important; }
